#modal-content:has(> .createServerContainer) {
    background-color: '#ffffff';
    width:28em;
    height: 32em;
    display: grid;
    justify-content: center;


}
.categoryContainer{
    display: grid;
    width:30em;
    justify-content: center;
    margin-left:1em;
    cursor: pointer;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

.radioCategoryContainer{
display: grid;
grid-template-columns: .2fr .2fr .2fr .4fr;
/* margin-left:2em; */
grid-auto-flow: column;
cursor: pointer;
height: 3em;
/* width:20vw; */
justify-content: center;
align-content: center;
}


.serverNameContainer{
    display: grid;
    justify-content: center;

}
.serverNameContainer > input::placeholder {
   color:white;
   text-align: center;
    opacity: 1;
  }
  .serverNameContainer > input:focus{
color:white;
  }
.serverNameContainer > input[type=text]{
    display: grid;
    width:40em;
    background-color: #4951e8;
    /* margin-left: 2em; */
    justify-content: center;
text-align: center;
    height: 3em;
    color:white;
    font-size: 14px;
}

.serverNameContainer > input[type=text]:focus {
    background-color: #8085ef;
    color:white;
    font-weight: bolder;
    font-size: 14px;

}

.radioCategoryContainer input{

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
    text-align: center;
    display: grid;

}
.radioCategoryContainer > i {
    display: grid;
    justify-content: center;
    align-content: center;
}
.createServerSubmitButton{
    width: 25em;
    height: 3em;
    justify-content: center;
    background-color:#6e6f78;
    border: 0px;
    color: white;

    cursor: pointer;
}
.createServerSubmitContainer{
     background-color:#f3f4f5;
    display: grid;
    width:38em;
    margin-left:4.5em;
    justify-content: center;
    align-content: center;
    height: 7em;
    position: relative;
    z-index: 0;
}

.CreateServerHeader{
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    display: grid;
    margin-bottom: 1em;
}
.CreateServerDescription{
    font-size: 14px;
    text-align: center;
    display: grid;
    margin-bottom: 1em;
    margin-left:6em;
    grid-template-columns: .8fr;

}
.radioCategoryContainer:has( > input:checked  ) {
    background-color: #4951e8;
    color: white;
    font-weight: bolder;
    text-align: start;
}
.radioCategoryContainer:hover{
    background-color: #8085ef;
}
