.createServerContainer{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:fit-content;
}

.createServerContainer::-webkit-scrollbar {
    width: 8px;
    background-color: #2e3338;
    border-radius: 4px;
    margin-top: 4px;
}

.createServerContainer::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #202225;
    border-radius: 4px;
}

.categoryContainer{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
}

.category-choice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0 15px;
    color: #e3e5e8;
    background-color: #3c4ae6;
}

.category-selected{
    background-color: #5865f2;
}

.category-choice:hover{
    background-color: #5865f2;
}

.server-name-input-div{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.server-name-input-label{
    color: #4d5058;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
}
.server-name-input{
    border: none;
    outline: none;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #e3e5e8;
    color: #4f5053;
}


.create-server-bottom{
    display: flex;
    flex-direction: row-reverse;
    background-color: #f2f3f5;
    padding: 15px;
}

.create-server-button{
    border: none;
    background-color: #5865f2;
    color: white;
    height: 40px;
    border-radius: 5px;
    padding: 0 25px;
    cursor: pointer;
}

.create-server-button:hover{
    background-color: #3c4ae6;
}

.serverNameContainer > input::placeholder {
   color:white;
   text-align: center;
    opacity: 1;
  }
  .serverNameContainer > input:focus{
color:white;
  }
.serverNameContainer > input[type=text]{
    display: grid;
    width:40em;
    background-color: #4951e8;
    justify-content: center;
    text-align: center;
    height: 3em;
    color:white;
    font-size: 14px;
}

.serverNameContainer > input[type=text]:focus {
    background-color: #8085ef;
    color:white;
    font-weight: bolder;
    font-size: 14px;

}

.CreateServerHeader{
    font-size: 24px;
    color: black;
    font-weight: bolder;
    text-align: center;
    display: grid;
}

.CreateServerDescription{
    color: #797a80;
    font-size: 16px;
    text-align: center;

}

.create-server-text-div{
    padding: 0 40px;
}

.join-server-top{
    padding: 15px;
}

.join-server-bottom{
    display: flex;
    flex-direction: row-reverse;
    padding: 15px;
    background-color: #f2f3f5;
}
