.ServerButtonIcon {
    width: 3em;
    height: 3em;
    display: grid;
    align-self: center;
    border: 1px solid black;
    z-index: -1;

}

.ServerButtonIcon Button {

    border-radius: 25px;
    z-index: 1;
}
.ServerButtonIcon Button:hover {

    border-radius: 15px;
    z-index: 1;
}

.fa-solid {
    z-index: 10;
}
