.serverModalContainer {
    background-color: '#ffffff';
    width:28em;
    height: 25em;
    display: grid;
    justify-content: center;
    border: 1px solid red;
    margin-left: 1.4em;

}


.serverModalHeader{
    display: grid;
font-size: 18px;
justify-content: center;
margin-top: 1em;

}


.serverModalInformation{
    font-size: 12px;
    margin-top: -7em;
    text-align: center;
}

.ServerModalCreateServer .OpenModalButton, .ServerModalJoinServer .OpenModalButton {
    background-color: white;
    border:1px solid grey;
    border-radius: 10px;
}


.ServerModalCreateServer, .ServerModalJoinServer{
    display: grid;
    margin-top: -5em;
    margin-top: -7.5em;
    margin-left: 1em;
    height: 3em;

    width: 24em;
}



