.serverModalContainer {
    background-color: '#ffffff';
    width:20em;
    height: 25em;
    display: grid;
    justify-content: center;


}

.serverModalHeader{
    display: grid;
font-size: 18px;
justify-content: center;

margin-top: 1em;

}


.serverModalInformation{
    font-size: 12px;
    margin-top: -7em;
    text-align: center;
}

.ServerModalCreateServer{
    display: grid;
    margin-top: -5em;
    margin-top: -7.5em;
    margin-left: 1em;
    height: 3em;



    width: 18em;
}


.ServerModalJoinServer{
    display: grid;
    margin-top: -5em;
    margin-left: 1em;
    height: 3em;



    width: 18em;
}


