

.serverListButton {
    border-radius: 25px;
    display:grid;
    background-color:#36393f;
    color:white;

    width: 5em;
    height: 5em;
    text-align: center;
    align-content: center;
    margin-top: .3em;
    margin-bottom: .3em;
    font-size: 10px;
    font-weight: bold;
    /* overflow: hidden; */
    cursor: pointer;
}

.serverListButton .fa-plus{
    font-size: 30px;
    font-weight: 100;
}

.serverListButton button{
    background-color: unset;
    border: none;
}




.serverListButton:hover {
    border-radius: 15px;
    background-color: #5865f2;
    transition-property: border-radius, background-color;
    transition-duration: .5s;
}

.serverListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.server-nav-button{
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.server-nav-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px 0;
    cursor: pointer;
}

.no-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5865f2;
    color: white;
    font-weight: bold;
}

.server-nav-icon:hover{
    border-radius: 15px;
    transition-property: border-radius, background-color;
    transition-duration: .5s;
}
