

.serverListButton {
    border-radius: 25px;
    display:grid;
    background-color:#36393f;

    width: 5em;
    height: 5em;
    text-align: center;
    align-content: center;
    margin-top: .15em;
    margin-bottom: .15em;
    font-size: 10px;
    font-weight: bold;
    overflow: hidden;

}




.serverListButton:hover {
    border-radius: 15px;
    background-color: #3b9758;
    transition-property: border-radius, background-color;
    transition-duration: .5s;
}

.serverListContainer{

    display: grid;
    margin-left: .3em;
}
