#main-container {
    height: 100vh;
    display: flex;
    background-color: #35393f;
}
/* Main Loading Screen */
#main-loading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #35393f;
    width:100%;
    height: 100%;
}

#main-loading-text{
    color: #babcc4;
    animation: fade 2s infinite;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/* Left area of the screen */
#left-container {
    background-color: #202225;
    display: flex;
}

/* Area with Buttons for DMs, Servers, Create/Join Server */
#left-nav-bar {
    width: 65px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#direct-message-button.serverListButton {
   background-color: #2469ff;
}
#direct-message-button:hover{
    cursor: pointer;
}



#left-nav-center {
    border-top: 1px solid rgb(66, 66, 66);
    border-bottom: 1px solid rgb(66, 66, 66);
}

#left-nav-top {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}


.left-nav-button {
    border-radius: 50%;
    padding: 5px;
    margin: 5px 0;
}

/* Area with Buttons for DM threads or Channels depending on page */
#left-menu {
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: #2f3136;
}

#left-menu-top {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #202225;
}

#left-menu-center {
    display: flex;
    flex-direction: column;
    margin: 5px;
    ;
}

#direct-message-title {
    padding: 10px;
    color: #d9dce4;
    font-weight: bolder;
}

#left-menu-center a {
    color: #96989d;
    display: flex;
    padding: 10px;
    margin: 2px 0;
    border-radius: 4px;
    font-weight: bolder;
}

#left-menu-center a.active {
    background-color: #35393f;
    color: #d9dce4;
}

#left-menu-center a:hover {
    background-color: #35393f;
}


/* Center area of the screen */
#center-container {
    background-color: #35393f;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.center-container {
    background-color: #35393f;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#comments-and-comment-form-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#server-center{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#center-top {
    min-height: 50px;
    border-bottom: 1px solid #202225;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.center-top {
    min-height: 50px;
    border-bottom: 1px solid #202225;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.center-top p {
    margin: 0;
    color: white;
    font-weight: bolder;
}

#center-top p{
    margin: 0;
    color: white;
    font-weight: bolder;
}

.center-top .channel-name {
    margin: 0;
    color: white;
    font-weight: bolder;
}

.center-top .channel-desc {
    margin: 0;
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.771);
    font-size: small;
}

#center-messages {
    height: 100%;
    overflow-y: scroll;
    padding-right: 5px;
}

#center-messages::-webkit-scrollbar{
    width: 8px;
    background-color: #2e3338;
    border-radius: 4px;
    margin-top: 4px;
}
#center-messages::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: #202225;
    border-radius: 4px;
}

#center-comments {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-right: 5px;
}

#center-comments::-webkit-scrollbar{
    width: 8px;
    background-color: #2e3338;
    border-radius: 4px;
}
#center-comments::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: #202225;
    border-radius: 4px;
}

#welcome-message{
    display: flex;
    width: 50%;
    padding: 50px;
    color: #d9dce4;
}

.message-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #d9dce4;
}

.message-card:hover {
    background-color: #272b30;
}

.message-card-top {
    display: flex;
    align-items: center;
}

.message-options {
    position: absolute;
    top: 0;
    right: 20px;
    border-radius: 5px;
    border: 1px solid #202225;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 60px;
}

.message-options:hover {
    box-shadow: 0px 5px 15px -5px black;
}

.message-option {
    color: #babcc4;
}

.message-option:hover {
    color: white;
    cursor: pointer;
}

.options-hidden {
    display: none;
}

#message-edit-input{
    width: 100%;
    min-height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #40444b;
    color: #d9dce4;
    box-sizing: border-box;
}

#message-edit-input:focus{
    outline: none;
}

.message-card-username {
    margin-right: 10px;
    color: #eff1f7;
    font-weight: bolder;
    margin-top: 5px;
}

.message-card-date {
    font-size: small;
    margin-top: 5px;
}

.message-content-container{
    display: flex;
    align-items: center;
}

.message-content{
    margin: 5px 0;
}

.edited-tag{
    margin: 5px 8px;
    font-size: 10px;
    color:#96989d;
}

#message-form-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message-input {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#comment-input {
    width: 100%;
    display: flex;
    justify-content: center;
}



#message-input input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: #d9dce4;
    background-color: #40444b;
}

#message-input input[type="text"]:focus {
    outline: none;
}

/* Right area of the screen */

#server-members {
    height: 100%;
    width: 240px;
    margin-left: 9px;
    background-color: #2f3136;
    overflow-y: scroll;
}

#server-members::-webkit-scrollbar {
    width: 8px;
    background-color: #2e3338;
    border-radius: 4px;
}

#server-members::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #202225;
    border-radius: 4px;
}

.member-card{
    display: flex;
    padding: 10px;
    color: #d9dce4;
    justify-content: space-between;
    align-items: center;
}
.member-card:hover{
    background-color: #272b30;
}

.member-options{
    display: flex;
    box-shadow: 0px 5px 10px -5px black;
    border-radius: 5px;
}
.member-options:hover{
    background-color: #202225;
}

.member-options i{
    margin: 10px;
    color:#96989d;
}

.member-options i:hover{
    color: #ffffff;
    cursor: pointer;
}
