.page-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.master-div {
    color: white;
    position: absolute;
    /* height: 408px;
    width: 784px; */
    background-color: #313338;
    border-radius: 5px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}

.master-div.login {
    height: 408px;
    width: 784px;
}

/* ↓↓↓ from sign up ↓↓↓ */

.master-div.sign-up {
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    width: 480px;
    height: 562px;
}

.main-form.sign-up h2 {
    margin: 40px 0px 0px;
    display: flex;
    justify-content: center;
}

.main-form.sign-up {
    width: 100%;
}

.actual-form.sign-up {
    margin-right: 30px;
    margin-top: 0px;
}

.login-signup-button.sign-up {
    padding: 15px 180px;
    margin: 30px 0px 20px;
}

.actual-form.sign-up label {
    font-weight: bolder;
}

/* ↑↑↑ from sign up ↑↑↑ */

.main-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.actual-form {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;
}

.actual-form label{
    margin-top: 10px;
}
.actual-form input {
    background-color: #1E1F22;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
}

.actual-form input:focus{
    outline: none;
}


.img-div {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.temp-img-class {
    overflow: hidden;
    size: fill;
}

.potential-qr-code-div {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-code-actual {
    height: 176px;
    width: 176px;
    border-radius: 10px;
}

.login-signup-button {
    background-color: #5865F2;
    color: white;
    border: 0px;
    border-radius: 5px;
    transition: background-color .17s ease;
}

.login-signup-button.login {
    padding: 15px 190px;
    margin: 30px 0px 20px;
}

.login-signup-button:hover {
    cursor: pointer;
    background-color: #4752c4;
}

.login-signup-button:focus {
    background-color: #3c45a5;
}

/*
A3A6AA lower case nonwhite
B9BBBE uppercase nonwhite
*/

.title-div.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: bolder;
    font-size: 24px;
}

.welcome-back {
    margin-bottom: 8px;
}


.signup-redirect-text {
    color: #A3A6AA;
}

.signup-redirect-text.link {
    color: #05A5E4;
}

.non-title-text {
    color: #A3A6AA;
    font-weight: 100;
    font-size: 16px;
    margin: 0px;
}

.form-labels {
    display: flex;
    font-weight: bolder;
    color: #B9BBBE;
}

.form-labels.true {
    color: #F38688;
}

.errors-actual {
    font-weight: 100;
    visibility: visible;
}

.dot {
    padding-left: 2px;
    visibility: hidden;
}
