.join-server-container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.join-server-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-server-title{
    color: black;
    font-size: 22px;;
}

.join-server-info{
    font-size: 14px;
    color: #5d5d5e;
    margin: 0;
}

.code-input-label, .code-example-title{
    color: #4d5058;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;
}

.code-input{
    border: none;
    outline: none;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #e3e5e8;
    color: #4f5053;
}

.req-asterisk{
    color: red;
}

.code-input-div{
    display: flex;
    flex-direction: column;
}

.errors-actual {
    color: #ef7378;
    font-weight: 200;
}

.join-server-button{
    border: none;
    background-color: #5865f2;
    color: white;
    height: 40px;
    border-radius: 5px;
    padding: 0 25px;
    cursor: pointer;
}
.code-example{
    color: #5d5d5e;
    margin: 0;
    font-size: 14px;
}

.close-modal-button{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #c1c1c4;
    cursor: pointer;
    font-size: 20px;
}

.close-modal-button:hover{
    color: black;
}
